* {
  margin: 0;
  padding: 0;
}

.cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-items: center;
  padding: 2rem 0;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 70%;

  background-color: #FFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 18px;
}

.card-header {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-header img {
  width: 80%;
  border-radius: 18px;
}

.card-header h2 {
  font-size: larger;
}

.card-body p {
  font-size: small;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

.price h3 {
  font-size: medium;
}

.price input {
  border: none;
  background-color: #F2F2F2;
  border-radius: 15px;

  margin-left: 10px;
  height: 20px;
  padding: 5px 10px;
  width: 50%;
}

.card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-basic {
  border: none;
  width: 100%;
  margin: 5px 0;
  padding: 3px 0;

  background: #2D9CDB;
  border-radius: 8px;
  font-size: medium;
  line-height: 27px;
  color: #F2F2F2;
  cursor: pointer;
  white-space: normal;
}

.btn-white {
  background: #F2F2F2 !important;
  color: black !important;
}

.btn-red {
  background: red !important;
  color: white !important;
}

.buttons-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* Responsive */

@media (max-width: 200px) {
  .card-header h2 {
    font-size: small;
  }

  .card-footer button {
    font-size: small;
  }
}

@media (min-width: 600px) {
  .cards { 
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 900px) {
  .cards { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 1300px) {
  .cards { 
    grid-template-columns: repeat(4, 1fr); 
  }
}